@media (min-width: 576px) { 
    .menuMobile{
        display: block;
    }
 }

 @media (min-width: 768px) { 
    .menuMobile{
        display: none;
    }
    .lecteur{
        width: 50%;
    }
  }



  .lecteur{
    height: 15%;
    position: absolute;
    
    
  }
  body{
    height: 100%;
  }