@media (min-width: 576px) {
  .menuMobile {
    display: block;
  }

  .biblio {
    display: none;
  }

}

@media (min-width: 200px) {
  .biblio {
    display: none;
  }

  .principal {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .menuMobile {
    display: none;
  }

  .biblio {
    display: block;
  }

  .principal {
    width: 72%;
  }

}

.lecteur {
  height: 14%;
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.container-pc {
  width: 100%;
}

.biblio {
  width: 25%;
}
.albumImg{
  width: 100px;
}
.pause{
  display: none;
}
#volume{
  max-width: 100px;
}
.li:hover{
  background-color: rgb(101, 28, 104) ;
}
